<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Математика</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog/">Блог</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contacts/">Контакты</a>
      </li>
    </ul>


    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Добро пожаловать на наш сайт по математике!</h1>
            <p class="lead">Здесь вы найдете полезные материалы, формулы и советы для изучения математики.</p>
            <hr class="my-4">
            <br>
            <p>Узнайте больше в нашем блоге, где мы обсуждаем различные математические темы.</p>
            <a class="btn btn-primary btn-lg" href="../blog/" role="button">Узнать больше</a>
        </div>

        <div class="row text-center mt-5">
            <div class="col-lg-4">
                <h3>Формулы</h3>
                <p>Изучите важнейшие математические формулы, которые помогут вам в учебе и на практике.</p>
            </div>
            <div class="col-lg-4">
                <h3>Графики</h3>
                <p>Построение графиков и визуализация функций поможет лучше понять математические принципы.</p>
            </div>
            <div class="col-lg-4">
                <h3>Советы по обучению</h3>
                <p>Советы и методы для эффективного изучения математики, доступные каждому.</p>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-white text-center py-3 mt-5">
        <p>&copy; 2024 Математический сайт. Все права защищены. <br> Читайте наш <a href="../blog/" class="text-white">блог</a> для еще большего погружения в мир математики.</p>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>